{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Подтверждение заказа{% endblock %}


{% block content %}
<h2>Подтвердите ваш заказ</h2>

<ul>
    {% for item in order_summary %}
        <li>
            <strong>Букет:</strong> {{ item.bouquet_name }}<br>
            <strong>Адрес доставки:</strong> {{ item.delivery_address }}<br>

            {% for label, value in item.card_info %}
                <strong>{{ label }}</strong> {{ value }}<br>
            {% endfor %}

            <strong>Цена:</strong> {{ item.price }} руб.<br>
        </li>
    {% endfor %}
</ul>

<p><strong>Общая сумма:</strong> {{ total_price }} руб.</p>

<form method="post" action="{% url 'finalize_order' %}">
    {% csrf_token %}

    {% for item in order_summary %}
        <input type="hidden" name="address_{{ item.id }}" value="{{ item.delivery_address }}">
        <input type="hidden" name="card_text_{{ item.id }}" value="{{ item.card_info|get_card_text }}">
        <input type="hidden" name="signature_{{ item.id }}" value="{{ item.card_info|get_signature }}">
    {% endfor %}

    <button type="submit">Все верно, оформить заказ</button>
</form>
<a href="{% url 'cart' %}" class="btn btn-secondary">Вернуться назад</a>
{% endblock %}