{% extends 'base.html' %}
{% block title %}Профиль{% endblock %}
{% block content %}
<h1>Ваш профиль</h1>

<p><strong>Имя пользователя:</strong> {{ user.username }}</p>

{% if user.telegram_chat_id %}
    <p>✅ Вы подключены к Telegram-боту.</p>
    <p><a href="https://t.me/FlowerDeliveryHelperBot" class="btn btn-info">Перейти в Telegram-бот</a></p>
{% else %}
    <p>🔔 Вы еще не подключили Telegram-бот.</p>
    <a href="{% url 'connect_bot' %}" class="btn btn-primary">Подключить Telegram-бот</a>
{% endif %}

<h2>Сменить пароль</h2>
<form method="post">
    {% csrf_token %}
    {{ password_form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>
{% endblock %}