{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Ваш профиль</h2>
    <div class="card shadow-sm p-4 mb-4">
        <div class="card-body">
            <h5 class="card-title">Личная информация</h5>
            <p class="card-text"><strong>Имя пользователя:</strong> {{ user.username }}</p>

            {% if user.telegram_chat_id %}
                <div class="alert alert-success" role="alert">
                    ✅ Вы подключены к Telegram-боту.
                    <a href="https://t.me/FlowerDeliveryHelperBot" class="btn btn-info btn-sm ms-2">Перейти</a>
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    🔔 Вы еще не подключили Telegram-бот.
                    <a href="{% url 'connect_bot' %}" class="btn btn-primary btn-sm ms-2">Подключить</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h5 class="card-title">Смена пароля</h5>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ password_form.as_p }}
                </div>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
